@import url('https://fonts.googleapis.com/css?family=Open+Sans|Poiret+One');
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Open Sans', sans-serif;
  height: 100vh;
  font-size: 17px;
}

/* flexboxes: */
main,
section,
article {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
}

main {
  min-height: 100vh;
  background: #83aea5;
  background-size:cover;
  background-position:center;
}

article {
  width: 100%;
}

section {
  background: linear-gradient(135deg, rgba(255,255,255,0.85) 0%, rgba(246,246,246,0.85) 47%, rgba(237,237,237,0.85) 100%);
  color: #14213D;
  text-align: center;
  padding: 25px;
  box-shadow: 2px 7px 29px -4px rgba(0,0,0,0.54);
  min-width: 100%;
  min-height: 100vh;
}

/* Logo an name */
.heading {
  display: flex;
  max-width: 200px;
  align-items: center;
}

.heading img {
  width: 35%;
}

/* search buttons style */
.search-buttons button {
  border-radius: 10px;
  width: 44%;
  max-width: 120px;
  font-family: 'Open Sans', sans-serif;
  padding: 12px 8px;
  font-size: 1em;
  border: 0;
  background: #7485AA;
  border-bottom: 5px solid #444d61;
  color: white;
  box-shadow: 2px 7px 29px -4px rgba(0,0,0,0.54);
  cursor: pointer;
  margin-left: 10px;
  position: relative;
  transition: all 0.2s ease;
}

.search-buttons button:active {
  top: 2px;
  outline: 0;
}

.search-buttons button:hover,
.search-buttons button:focus {
  background: #BF5B00;
  border-bottom: 5px solid #673406;
  outline: 0;
}

.search-buttons {
  margin: 25px;
}

/* app style for search */
.searchForm {
  display: flex;
  justify-content: center;
}

.searchForm input {
  width: 80%;
  height: 50px;
  padding: 12px 8px;
  font-family: 'Open Sans', sans-serif;
  font-size: 1em;
  background: #B2DBBF;
  color: #247BA0;
  border: 0;
}

.searchForm input:focus {
  outline: 0;
  background: #F3FFBD;
}

.searchForm button {
  width: 50px;
  height: 50px;
  background:#70C1B3;
  border: 0;
  cursor: pointer;
  transition: all 0.2s ease;
  font-size: 25px;
}

.searchForm button:hover,
.searchForm button:focus {
  background: #7485AA;
  outline: 0;
}

/* temperature toggle button */
.switch {
  position: relative;
  display: inline-block;
  width: 75px;
  height: 50px;
}

.slider:focus {
  outline: 0;
  background: #BF5B00;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7485AA;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 42px;
  width: 42px;
  left: 4px;
  bottom: 4px;
  background: url(../images/celsius.svg);
  -webkit-transition: 0.4s;
  transition: 0.4s;
  box-shadow: 2px 7px 29px -4px rgba(0,0,0,0.54);
  border-radius: 50%;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
    background: url(../images/fahrenheit.svg);
}

.image {
  height: 80px;
  width: 80px;
  margin-top: 5px;
  margin-bottom: 25px;
}

.main {
  width: 100px;
  height: 100px;
}

h1 {
  font-family: 'Poiret One', sans-serif;
}

h1, h2, h3 {
  padding: 10px 0;
  text-align: center;
}

.forecast {
  padding-top: 17px;
  border-top: 1px solid #FFFDF9;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  align-content: center;
  width: 100%;
}

.forecast > * {
  flex: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  margin-bottom: 25px;
}

footer {
  position: relative;
  bottom: 0;
  width: 100%;
  text-align: center;
  background: #14213D;
  color: #C4C3C0;
  padding: 25px;
  font-size: 13px;
  font-weight: normal;
}

footer a {
  color: #779182;
  text-decoration: none;
  font-family: 'Open Sans', sans-serif;
}

.locating svg {
  padding: 8px;

	animation-name: locating;
	-webkit-animation-name: locating;

	animation-duration: 2.5s;
	-webkit-animation-duration: 2.5s;

	animation-iteration-count: infinite;
	-webkit-animation-iteration-count: infinite;
}

@keyframes locating {
	0% {
		transform: rotate(0deg);
	}
	50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(359deg);
	}
}

@-webkit-keyframes locating {
	0% {
		-webkit-transform: rotate(0deg);
	}
	50% {
		-webkit-transform: rotate(180deg);
	}
	100% {
		-webkit-transform: rotate(359deg);
	}
}

@media screen and (min-width: 650px) {
  section {
    border: 1px solid #FFFDF9;
    border-radius: 5px;
    min-width: 80%;
    min-height: auto;
  }

  .forecast > * {
    flex: 25%;
  }

}

@media screen and (min-width: 850px) {
  section {
    min-width: 65%;
  }
}

@media screen and (min-width: 1000px) {
  section {
    min-width: 50%;
  }
}
